body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #f4f4f4;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
}

.container {
  padding: 20px;
}

.button {
  margin-top: 10px;
}
.css-19midj6 {
  border: 1px solid #e9ddd0 !important;
  font-size: 16px;
  padding: 16px;
  width: calc(100% - 32px);
}
.css-445rbe .OnePirateTextField-inputSizeMedium {
  font-size: 16px;
  padding: 16px;
  width: calc(100% - 32px);
}
.css-445rbe .OnePirateTextField-inputBorder {
  border: 1px solid #e9ddd0 !important;
}

.css-bhp9pd-MuiPaper-root-MuiCard-root {
  background-color: "##e9ddd0" !important;
}

.css-bhp9pd-MuiPaper-root-MuiCard-root {
  background-color: #fff5f8 !important;
}

.css-m99m96-MuiPaper-root{
  background-color: #fff5f8 !important;
}

.css-1fu7jd5-MuiButtonBase-root-MuiButton-root {
  background-color: #ff3366 !important;
  padding: 1.5vh !important;
}
.css-1o83quy {
  color: #ff3366 !important;
}
.css-1xylxj1-MuiTypography-root-MuiLink-root {
  color: #28282a !important;
}

.css-sghohy-MuiButtonBase-root-MuiButton-root {
  background-color: #ff3366 !important;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input{
  border: 1px solid #e9ddd0 !important;
}
